<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lojong Test</title>
</head>

<body>
  <div class="wrapper">
    <section class="main">
      <div class="slogan">
        <h2>18.</h2>
        <p>"The Mahayana instruction for ejection of consciousness at death is the five strengths: how you conduct yourself is important."</p>  
        <h3>+</h3>
      </div>  
    </section>
  </div>
</body>
</html>