

<div class="card effect_click">
  <div class="card_front">
    <span class="card_text">front</span>
  </div>
  <div class="card_back">
    <span class="card_text">back</span>
  </div>
</div><!-- /card -->


