

<section class="container">
  <div id="card">
    <figure class="front"></figure>
    <figure class="back">
      <div class="slogan">
        <h2>18.</h2>
        <p>"The Mahayana instruction for ejection of consciousness at death is the five strengths: how you conduct yourself is important."</p>  
        <h3>&#10019;</h3>
      </div>  
    </figure>
  </div>
</section>
