<div class="wrapper">

<div class="container">

    <div class="nav nav_top">
      <p class="float_left" id="about">about</p>
      <h2 class="center">Lojong</h2>
      <p class="float_right" id="author_drop">more by...</p>
    </div>

  <!-- the flipping card -->
  <section class="card_container" id="flipcard">

    <div id="card">
      <figure class="front"></figure>
      <figure class="back">
        <div class="slogan">
          <h2>18.</h2>
          <p>"The Mahayana instruction for ejection of consciousness at death is the five strengths: how you conduct yourself is important."</p>  
          <h3>&#10019;</h3>
        </div>  
      </figure>
    </div>

  </section>
  <!-- end the flipping card -->
  
    <div class="nav nav_bottom">
      <p class="float_right" id="timer">timer</p>
    </div>


</div>
</div>