html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #000; }

.center {
  text-align: center; }

.hide {
  display: none; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.wrapper {
  width: 100%;
  height: 100%;
  line-height: 1.4; }

.lotus {
  background-image: image-url("Lotus_textile_768x1024.jpg");
  background-color: #ad291f; }

section.main {
  background-color: #f7f6ed;
  border: 3px solid #cfae4c;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  padding: 1em;
  left: 5%;
  width: 90%;
  height: 90%;
  top: 5%;
  position: absolute;
  text-align: center;
  overflow: scroll; }

.nav {
  color: #f7f6ed;
  height: 3em;
  padding: .5em 0;
  text-align: center;
  font-size: 1em; }

.nav p {
  display: inline-block;
  padding-top: .5em; }

.nav h2 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block; }

.slogan {
  font-size: 1.7em;
  line-height: 1.4em;
  text-align: center;
  padding: 1em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .slogan h2, .slogan h3 {
    color: #cfae4c;
    font-size: 1.9em;
    margin: .5em 0 .5em 0; }

.container {
  width: 320px;
  height: 568px;
  position: relative;
  perspective: 1200px;
  margin: 0 auto 3em auto; }

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }

#card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 6px solid #cfae4c; }

#card .front {
  background-image: url("card_front_320_568_fpo.png");
  background-size: cover; }

#card .back {
  background: #f7f6ed;
  transform: rotateY(180deg); }

#card.flipped {
  transform: rotateY(180deg); }
