@import "meyer-reset";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

$maroon: #AD291F;
$gold: #CFAE4C;
$red: #BA1E13;
$grey-medium: #808080;
$cream: #F7F6ED;

$width-small: 768px;
$width-medium: 992px;
$width-large: 1200px;

@mixin rounded($radius: 9px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  background-color: #000;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.wrapper {
  width: 100%;
  height: 100%;
  // padding: 1em;
  // margin: 0 auto;
  line-height: 1.4;
}

.lotus {
background-image: image-url('Lotus_textile_768x1024.jpg');
background-color: $maroon;
}

.nav {
  color: darken($cream, 10);
  height: 3em;
  padding: .5em 0;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.05em;
  width: 100%;
}

.nav p {
  display: inline-block;
  padding-top: .5em;
}

.nav h2 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
}

.slogan {
  font-size: 1.7em;
  line-height: 1.4em;
  text-align: center;
  padding: 1em;
  @include vertical-align;

  h2, h3 {
    color: $gold;
    font-size: 1.9em;
    margin: .5em 0 .5em 0;
  }
}

// the container for the navs and the card goes full height//
.container {
  width: 320px;
  position: relative;
  margin: 0 auto 0 auto;
}

// the card flipper here // 
.card_container {
  width: 320px;
  height: 568px;
  position: relative;
  perspective: 1200px;
  // margin: 0 auto 3em auto;

}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  @include rounded(16px);
  border: 6px solid $gold;
}

#card .front {
  background-image: url("card_front_320_568_fpo.png");
  background-size: cover;
}

#card .back {
  background: $cream;
  transform: rotateY(180deg);
}

#card.flipped {
  transform: rotateY(180deg);
}

// end the card flipper // 
